.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: white;
    height: 60px;
    border-bottom: 1px solid rgb(229, 228, 228);
    z-index: 100;
}
.left{
    width: 150px;
    display: flex;
    align-items: center;
    margin-left: 23px;
}
.hamburgerMenu{
    height: 25px;
    margin-right: 23px;
}
.hamburgerMenu:hover{
    cursor: pointer;
}
.youtubeLogo{
    height: 20px;
}
.youtubeLogo:hover{
    cursor: pointer;
}
.middle{
    display: flex;
    flex: 1;
    margin-left: 30px;
    margin-right: 40px;
    max-width: 450px;
    justify-content: center;
    align-items: center;
}
.input-type{
    font-family:  Arial, Helvetica, sans-serif;
    border-radius: 2px;
    font-size: 17px;
    padding-left: 10px;
    border: 1px solid rgb(204, 204, 204);
    height: 41px;
    flex: 1;
    width: 0;
    min-width: 0;
    box-shadow: inset 2px 2px rgb(0, 0, 0, .02);
}
.searchIcon{
    background-color: rgb(247, 247, 247);
    height: 25px;
    margin-top: 6px;
}
.voiceSearchIcon{
    margin-top: 2px;
    height: 25px;
    background-color: rgb(247, 247, 247);

}
.search-icon{
    background-color: rgb(247, 247, 247);
    border: 1px solid rgb(204, 204, 204);
    margin-left: -1px;
    height: 44px;
    width: 65px;
    margin-right: 10px;
    position: relative;
}
.voicesearch-icon{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border-style: none;
    background-color: rgb(247, 247, 247);
    position: relative;
}
.voicesearch-icon:hover, .search-icon:hover, .owner-pic{
    cursor: pointer;
}
.right{
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    width: 220px;
    flex-shrink: 0;
    margin-right: 20px;
}
.right-icons{ 
    border-style: none; 
    background-color: white;
    position: relative;
}
.right-icons:hover{
    cursor: pointer;
}
.ytapp, .newmsg, .upLoad{
    height: 24px;
}
.owner-pic{
    height: 33px;
}
@media (max-width: 650px){
    .right{
        display: none;
    }
}
.notifications-count{
    position: relative;
}
.msg-count{
    position: absolute;
    background-color: rgb(198, 6, 6);
    top: -2px;
    right: -4px;
    padding: 1px 5px 1px 5px;
    border-radius: 7.5px;
    height: 14px;
    font-size: 12px;
    font-family: "Roboto Condensed", sans-serif; 
    color: white;
}
.sidebar{
    background-color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 60px;
    width: 70px;
    border-right: 1px solid rgb(245, 244, 244);
    font-family: "Roboto Condensed", sans-serif; 
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 101;
}
.sidebar-link{
    height: 75px;
    width: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.sidebar-link:hover{
    background-color: rgb(237, 235, 235);
    cursor: pointer;
}
.sidebar-img{
    height: 25px;
    margin-bottom: 5px;
}
.sidebar-names{
   font-weight: 400;
}
.tooltip{
    position: absolute;
    background-color: rgb(95, 93, 93);
    color: white;
    padding: 5px 7px 5px 7px;
    bottom: -40px;
    right: -2px;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
    font-size: 13px;
}
.search-icon:hover .tooltip, .voicesearch-icon:hover .tooltip,
.right-icons:hover .tooltip{
    opacity: 1;
 }